header {
    display: flex;
    align-items: center;
    gap: 20px;
    
    a {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: black;
    }

    .active {
        color: green;
    }
}
